@model CrudMercado.Model.Entities.ProdutoEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>

<body>
    <h2 class="titulo">Atualizar produto</h2>
    <hr />
    <div class="row">
         <div class="col-md-12">
             <form asp-action="AtualizarProduto" asp-controller="ProdutoMVC" method="post" id="formEditar">

                 <div class="col-md-12 ">
                     <label asp-for="Nome" class="control-label"></label>
                     <input asp-for="Nome" class="form-control" />
                     <span asp-validation-for="Nome" class="text-danger"></span>
                 </div>

                 <div class="col-md-12">
                     <label asp-for="Descricao" class="control-label"></label>
                     <input asp-for="Descricao" class="form-control" />
                     <span asp-validation-for="Descricao" class="text-danger"></span>
                 </div>

                 <div class="col-md-12">
                     <label asp-for="Preco" class="control-label"></label>
                     <input asp-for="Preco" class="form-control" />
                     <span asp-validation-for="Preco" class="text-danger"></span>
                 </div>

                 <div id="botoes-atualizar">
                     <input type="hidden" asp-for="Id" />
                     <a asp-action="ObterTodosProdutos" class="btn-voltar">Voltar</a>
                     <input type="submit" value="Atualizar" class="btn-atualizar" />
                 </div>
             </form>
         </div>
     </div>
    

</body>
</html>